<IfModule mod_rewrite.c>
  ExpiresActive on
  ExpiresDefault A2592000
  RewriteEngine On
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule ^(.*)$ /index.php [L]
</IfModule>
