<IfModule mod_rewrite.c>
  Cache-Control: max-age=2592000, public
  RewriteEngine On
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule ^(.*)$ /index.php [L]
</IfModule>
