/**
 * Global document styles
 */

%fullscreen
	width: 100vw
	min-height: 90vh
	overflow-x: hidden
	-webkit-touch-callout: none
	-webkit-user-select: none
	-khtml-user-select: none
	-moz-user-select: none
	-ms-user-select: none
	user-select: none

body
	color: $black
	background: $offwhite
	font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif
	@extend %fullscreen
	font-weight: 400
	+font-smoothing()

a
	color: $primary

li, p
	margin-bottom: $base-spacing/2

.bg-primary
	background: $primary

.text-primary
	font-color: $primary

blockquote
	border-left: 4px solid md-color('grey', '200')
	padding: $base-spacing/2 $base-spacing
	padding-right: 0

button
	display: block
	width: 100%
	border: none
	border-radius: 2px
	background-color: $primary
	padding: 14px 28px
	font-size: 16px
	font-weight: 600
	cursor: pointer
	text-align: center
	margin: 0 0 $base-spacing/2
	@extend %shadow

	i
		margin-top: -4px
		vertical-align: middle !important

form
  width: 100%
  margin: 10px auto

  h1
    font-size: 3em
    font-weight: 300
    text-align: center
    color: $hl-color

  h5
    text-align: center
    text-transform: uppercase
    color: $muted-color

  hr.sep
    background: $hl-color
    box-shadow: none
    border: none
    height: 2px
    width: 25%
    margin: 0px auto 45px auto

  .emoji
    font-size: 1.2em

.group
  position: relative
  margin: 25px 0 5px 0

textarea
  resize: none

input,textarea
  background: none
  color: $muted-color
  font-size: 14px
  padding: 10px 10px 10px 5px
  display: block
  width: 100%
  border: none
  border-radius: 0
  border-bottom: 1px solid $muted-color
  &:focus
    outline: none
  
  &:focus ~ label,
  &:valid ~ label
    top: -14px
    font-size: 12px
    color: $hl-color
  
  &:focus ~ .bar:before
    width: 100%

input[type="password"]
  letter-spacing: 0.3em

label
  color: $muted-color
  font-size: 16px
  font-weight: normal
  position: absolute
  pointer-events: none
  left: 5px
  top: 10px
  transition: $trans-time ease all

.bar
  position: relative
  display: block
  width: 100%
  &:before
    content: ''
    height: 2px
    width: 0
    bottom: 0px
    position: absolute
    background: $hl-color
    transition: $trans-time ease all
    left: 0%

.blur
	background: #C0C0C01A
	filter: blur(0.2px)

.icon-placeholder
	all: unset
	input[type=file]
		display: none

.fab
	clear: all
	position: fixed
	bottom: 5%
	display: inline-block
	outline: none
	-webkit-user-select: none
	user-select: none
	cursor: pointer
	width: 60px
	height: 60px
	z-index: 999
	background: $primary
	border-radius: 50%
	border: 0
	overflow: hidden
	@extend %shadow

	i
		color: $white
		text-align: center
		font-size: 45px
		margin-top: -160%
		margin-left: -520%

	&:not(:active):after
		animation: ripple 3s ease-out
	&::after
		visibility: hidden
	&:focus:after
		visibility: visible

.badge
	border-radius: 30px
	padding: 5px 10px
	background: $offwhite

	&.badge__primary
		background: $primary
		color: $white

.ripple
	transition: 0.2s opacity ease-in-out
	-webkit-transition: 0.2s opacity ease-in-out

@keyframes ripple
	0% { transform: scale(0) }
	20% { transform: scale(1) }
	100% { opacity: 0; transform: scale(1) }

.fab-cascade
	z-index: 999
	position: fixed
	bottom: 5%
	width: 60px

	&:hover .fab-menu-buttons
		opacity: 1
		visibility: visible

	&:hover .fab-menu-buttons__link
		transform: scaleY(1) scaleX(1) translateY(-16px) translateX(0px)

	.fab-action-button:hover + .fab-menu-buttons .fab-menu-buttons__link:before
		visibility: visible
		opacity: 1
		transform: scale(1)
		transform-origin: right center 0
		transition-delay: 0.3s

	.fab-action-button
		position: absolute
		bottom: 0
		display: block
		width: 60px
		height: 60px
		color: $white
		background-color: $primary
		border-radius: 50%
		@extend %shadow

		i
			text-align: center
			font-size: 30px
			margin: 25% 0 0 25%

	.fab-menu-buttons
		position: absolute
		left: 0
		right: 0
		bottom: 50px
		list-style: none
		margin: 0
		padding: 0
		opacity: 0
		visibility: hidden
		transition: 0.2s

	.fab-menu-buttons__item
		display: block
		text-align: center
		margin: 12px 0

	.fab-menu-buttons__link
		display: inline-block
		width: 40px
		height: 40px
		text-decoration: none
		background-color: #ffffff
		border-radius: 50%
		box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2)
		transform: scaleY(0.5) scaleX(0.5) translateY(0px) translateX(0px)
		-moz-transition: .3s
		-webkit-transition: .3s
		-o-transition: .3s
		transition: .3s

		i
			text-align: center
			font-size: 20px
			margin: 25% 0 0 0

	[data-tooltip]:before
		top: 50%
		margin-top: -11px
		font-weight: 600
		border-radius: 2px
		background: #585858
		color: #fff
		content: attr(data-tooltip)
		font-size: 12px
		text-decoration: none
		visibility: hidden
		opacity: 0
		padding: 4px 7px
		margin-right: 12px
		position: absolute
		transform: scale(0)
		right: 100%
		white-space: nowrap
		transform-origin: top right
		transition: all .3s cubic-bezier(.25, .8, .25, 1)

	[data-tooltip]:hover:before
		visibility: visible
		opacity: 1
		transform: scale(1)
		transform-origin: right center 0
